extends ../main.layout.pug

block variables
    - var title = 'Обо мне'

block content
    section.about
        .works_header
            .works_header-icons
                a(href='#')
                    svg.works_header-icons_item(width='32', height='28', viewBox="0 0 548.358 548.358")
                        use(xlink:href='assets/styles/sprate.svg#vk')
                a(href='#')
                    svg.works_header-icons_item(width='27', height='23', viewBox="0 0 475.084 475.084")
                        use(xlink:href='assets/styles/sprate.svg#github')
                a(href='#')
                    svg.works_header-icons_item(width='27', height='20', viewBox="0 0 512 512")
                        use(xlink:href='assets/styles/sprate.svg#linkedin')
            .works_header-burger
                img.works_header-hamburger(src="assets/images/hamburger.png", alt="hamburger")
        .works_user
            .works_user-stars
                svg.works_user-icons_item(width="470px" height="270px" viewBox="0 0 186.861 110.966")
                    use(xlink:href='assets/styles/sprate.svg#stars')
                .works_user-stars_avatar
                    .user_pic
                        img.user__pic-img
                    .user__description
                        .user__name Владимир Астахов
                        .user__ingo Личный сайт разработчика
        a.works_down-scroll(href="")
            svg.works_down-icons_item(width="35px" height="35px" viewBox="0 0 25.16 16.164")
                use(xlink:href='assets/styles/sprate.svg#arrow-down')
    section.about_title
        .about_user
            .about_user-title
                svg.about_user-icons_item(width="230px" height="200px" viewBox="0 0 171.5 132.5")
                    use(xlink:href='assets/styles/sprate.svg#starss')
                h2.works_stars-title Обо мне
            .about_user-block
                .about_user-photo                    
                .about_user-text
                    h3.about_user-text_what Кто я
                    .about_user-text_title
                        p.about_user-text_item Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                        p.about_user-text_item Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .about_skills
            .about_skills-block_text
                h3.about_skills-text Чем я могу быть вам полезен
            p.about_skills-text_title Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            ul.about_skills-main
                li.about_skills-main_item
                    h3.about_skills-main_name Frontend
                    .about_skills-circles
                        .about_skills-block_circle
                            svg.about_skills-percentage(viewBox="0 0 100 100" preserveAspectRatio="none")
                                circle.circle.circle_under(cx="50" cy="50" r="40")
                                circle.circle.circle_above(cx="50" cy="50" r="40" style="animation-delay: -90s")
                            h4.about_skills-circle_name HTML
                        .about_skills-block_circle
                            svg.about_skills-percentage(viewBox="0 0 100 100" preserveAspectRatio="none")
                                circle.circle.circle_under(cx="50" cy="50" r="40")
                                circle.circle.circle_above(cx="50" cy="50" r="40" style="animation-delay: -90s")
                            h4.about_skills-circle_name CSS
                        .about_skills-block_circle
                            svg.about_skills-percentage(viewBox="0 0 100 100" preserveAspectRatio="none")
                                circle.circle.circle_under(cx="50" cy="50" r="40")
                                circle.circle.circle_above(cx="50" cy="50" r="40" style="animation-delay: -90s")
                            h4.about_skills-circle_name Javascript & jQuery
                li.about_skills-main_item
                    h3.about_skills-main_name Backend
                    .about_skills-circles
                        .about_skills-block_circle
                            svg.about_skills-percentage(viewBox="0 0 100 100" preserveAspectRatio="none")
                                circle.circle.circle_under(cx="50" cy="50" r="40")
                                circle.circle.circle_above(cx="50" cy="50" r="40" style="animation-delay: -90s")
                            h4.about_skills-circle_name PHP
                        .about_skills-block_circle
                            svg.about_skills-percentage(viewBox="0 0 100 100" preserveAspectRatio="none")
                                circle.circle.circle_under(cx="50" cy="50" r="40")
                                circle.circle.circle_above(cx="50" cy="50" r="40" style="animation-delay: -90s")
                            h4.about_skills-circle_name mySQL
                        .about_skills-block_circle
                            svg.about_skills-percentage(viewBox="0 0 100 100" preserveAspectRatio="none")
                                circle.circle.circle_under(cx="50" cy="50" r="40")
                                circle.circle.circle_above(cx="50" cy="50" r="40" style="animation-delay: -90s")
                            h4.about_skills-circle_name Node.js & npm
                        .about_skills-block_circle
                            svg.about_skills-percentage(viewBox="0 0 100 100" preserveAspectRatio="none")
                                circle.circle.circle_under(cx="50" cy="50" r="40")
                                circle.circle.circle_above(cx="50" cy="50" r="40" style="animation-delay: -90s")
                            h4.about_skills-circle_name Mongo.db
                li.about_skills-main_item
                    h3.about_skills-main_name WorkFlow
                    .about_skills-circles
                        .about_skills-block_circle
                            svg.about_skills-percentage(viewBox="0 0 100 100" preserveAspectRatio="none")
                                circle.circle.circle_under(cx="50" cy="50" r="40")
                                circle.circle.circle_above(cx="50" cy="50" r="40" style="animation-delay: -90s")
                            h4.about_skills-circle_name Git
                        .about_skills-block_circle
                            svg.about_skills-percentage(viewBox="0 0 100 100" preserveAspectRatio="none")
                                circle.circle.circle_under(cx="50" cy="50" r="40")
                                circle.circle.circle_above(cx="50" cy="50" r="40" style="animation-delay: -90s")
                            h4.about_skills-circle_name Gulp
                        .about_skills-block_circle
                            svg.about_skills-percentage(viewBox="0 0 100 100" preserveAspectRatio="none")
                                circle.circle.circle_under(cx="50" cy="50" r="40")
                                circle.circle.circle_above(cx="50" cy="50" r="40" style="animation-delay: -90s")
                            h4.about_skills-circle_name Bower
    section.about_map
        .about_contact
            h3.about_contact-text Контакты
            ul.about_contact-items
                li.about_contact-item
                    .about_contact-icon_skype
                    p.about_contact-item_skype skype_kdn
                li.about_contact-item
                    .about_contact-icon_phone
                    p.about_contact-item_skype +7 931 200 93 24
                li.about_contact-item
                    .about_contact-icon_mail
                    p.about_contact-item_skype astahov@gmail.com
                li.about_contact-item
                    .about_contact-icon_map
                    p.about_contact-item_skype Новосибирск, ул.Инская, д.14
        include ../common/footer.pug