footer.footer
    .footer_title
        .footer_title-text
            p.footer_title-text_loft Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        .footer_link
            ul.footer_link-menu
                li.footer_link-menu_item
                    a(href="my-works.html") Мои работы
                li.footer_link-menu_item
                    a(href="about.html") Обо мне
                li.footer_link-menu_item
                    a(href="blog.html") Блог
                li.footer_link-menu_item
                    a(href="index.html") Авторизация
            .footer_link-icon
                a(href='#')
                    svg.footer_link-icon_item(width='32', height='28', viewBox="0 0 548.358 548.358")
                        use(xlink:href='assets/images/sprate.svg#vk')
                a(href='#')
                    svg.footer_link-icon_item(width='27', height='23', viewBox="0 0 475.084 475.084")
                        use(xlink:href='assets/images/sprate.svg#github')
                a(href='#')
                    svg.footer_link-icon_item(width='27', height='20', viewBox="0 0 512 512")
                        use(xlink:href='assets/images/sprate.svg#linkedin')
        .footer_adress
            ul.footer_adress-items
                li.footer_adress-item
                    p skype_kdn
                li.footer_adress-item
                    p astahov@gmail.com
                li.footer_adress-item
                    p +7 931 200 93 24
                li.footer_adress-item
                    p г.Новосибирск, ул.Инская, д.4
    .footer_text-down
        p.footer_text-down_copyright © Владимир Астахов
        p.footer_text-down_copyright-1 Создано с любовью в LoftSchool
        p.footer_text-down_copyright 2016