@import "media.scss";
body, html {
    height: 100%;
    @include desktop {
        font-size: 16px;
    }
    @include laptop{
        font-size: 15px;
    }
    @include tablets {
        font-size: 14px;
    }
    @include phones {
        font-size: 13px;
    }
}
body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.42;
    color: #455a64;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative;
    width: 100%;
}
.container {
    margin: 0 auto;
    width: 95%;
}