section.about{
    min-height: 815px;
    width: 100%;
    position: relative;
    background: url("../images/main-works.png") center center no-repeat;
    background-size: cover;
    @include phones {
        min-height: 600px;
    }
}
.about_down-scroll_block{
    width: 100%;
    height: 50px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 645px;
    @include tablets {
        top: 740px;
    }
    @include phones {
        top: 480px;
    }
}
section.about_title{
    min-height: 1015px;
    width: 100%;
    position: relative;
    background: #f1efe7;
    shape-outside: polygon(0 0,0 100%,100% 100%,100% 0,50% 160px);
    clip-path: polygon(0 0,0 100%,100% 100%,100% 0,50% 160px);
    margin-top: -160px;
    display: flex;
    @include laptop {
        shape-outside: polygon(0 0,0 100%,100% 100%,100% 0,50% 65px);
        clip-path: polygon(0 0,0 100%,100% 100%,100% 0,50% 65px);
        margin-top: -65px;
        flex-direction: column;
        align-items: center;
    }
    @include phones {
        shape-outside: polygon(0 0,0 100%,100% 100%,100% 0,50% 30px);
        clip-path: polygon(0 0,0 100%,100% 100%,100% 0,50% 30px);
        margin-top: -30px;
    }
}
.about_user{
    width: 50%;
    margin-top: 180px;
    display: flex;
    align-items: flex-start;
    @include desktop {
        flex-direction: column;
    }
    @include laptop {
        margin-top: 80px;
        width: 100%;
    }
    @include phones {
        margin-top: 40px;
    }
}
.about_user-title{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop {
        width: 100%;
    }
    @include tablets {
        margin: 30px 0;
    }
}
svg.about_user-icons_item{
    fill: #fff;
    opacity: 0.6;
    transform: rotate(180deg);
    position: absolute;
    z-index: 0;
    @include phones {
        height: 160px;
        width: 180px;
    }
}
h2.about_user-title{
    @include Sansus-Webissimo-Regular();
	font-size: 63px;
    color: #474b57;
    z-index: 1;
    width: 100%;
}
.about_user-block{
    width: 55%;
    height: 100%;
    @include desktop {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
.about_user-photo  {
    width: 95%;
    height: 35%;
    background: url("../images/avatar-about.png") right center no-repeat;
    background-size: cover;
    @include desktop {
        width: 440px;
        height: 390px;
    }
    @include laptop {
        width: 75%;
        height: 554px;
    }
    @include phones {
        width: 100%;
        height: 320px;
    }
}
.about_user-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include desktop {
        width: 440px;
    }
    @include laptop {
        width: 75%;
    }
    @include phones {
        width: 100%;
        align-items: center;
    }
}
h3.about_user-text_what{
    @include Sansus-Webissimo-Regular();
	font-size: 35px;
    color: #474b57;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
}
h3.about_user-text_what:after{
    content: "";
    width: 90px;
    height: 3px;
    background: #9c9d9f;
    margin-top: 30px;
}
.about_user-text_title{
    width: 95%;
}
p.about_user-text_item{
    @include Roboto-Regular();
	font-size: 16px;
    color: #474b57;
    line-height: 1.7;
}
.about_skills{
    width: 50%;
    margin-top: 180px;
    @include laptop {
        width: 75%;
        margin-top: 55px;
    }
    @include phones {
        width: 100%;
    }
}
.about_skills-block_text{
    display: flex;
    justify-content: center;
    width: 100%;
}
h3.about_skills-text{
    @include Sansus-Webissimo-Regular();
	font-size: 35px;
    color: #474b57;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 50%;
    text-align: center;
    line-height: 1.2;
    @include phones {
        width: 70%;
    }
}
h3.about_skills-text:after{
    content: "";
    width: 90px;
    height: 3px;
    background: #474b57;
    margin-top: 30px;
}
p.about_skills-text_title{
    @include Roboto-Regular();
	font-size: 16px;
    color: #474b57;
    margin: 30px 0 30px 40px;
    @include laptop {
        margin: 30px 0;
    }
    @include phones {
        margin: 30px 10px;
    }
}
ul.about_skills-main{
    margin: 30px 0;
    list-style-type: none;
    padding: 0;
}
li.about_skills-main_item{
    padding-left: 40px;
    @include laptop {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
h3.about_skills-main_name{
    @include Roboto-Medium();
	font-size: 28px;
    color: #474b57;
    margin: 20px 0;
}
.about_skills-circles{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include tablets {
        width: 100%;
        justify-content: center;
    }
    @include phones {
        flex-wrap: wrap;
    }
}
.about_skills-block_circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin-right: 4%;
    @include tablets {
        margin: 0 2%;
    }
}
svg.about_skills-percentage{
    display: inline-block;
    width: 120px;
    height: 120px;
    transform: rotate(-90deg);
}
circle.circle{
    fill: transparent;
    stroke-width: 15px;
    stroke: #dfdcd5;
}
circle.circle_above{
    stroke: #1056d1;
    stroke-dasharray: 251;
    stroke-dashoffset: 251;
    animation: fill 100s linear infinite;
    animation-play-state: paused;
}
circle.circle_above[style="animation-delay: -100s"] {
    animation: initial;
    stroke-dashoffset: 0;
}
@keyframes fill {
    from {
        stroke-dashoffset: 251;
    }
    to {
        stroke-dashoffset: 0;
    }
}
h4.about_skills-circle_name{
    @include Roboto-Medium();
	font-size: 14px;
    color: #243994;
    margin: 0;
    position: absolute;
    width: 48%;
    text-align: center;
}
section.about_map{
    width: 100%;
    min-height: 700px;
    background: url("../images/Map.png") right center no-repeat;
    background-size: cover;
    position: relative;
    @include phones {
        min-height: 950px;
    }
}
.about_contact-map_block{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_contact{
    width: 580px;
    height: 285px;
    margin: 100px auto;
    background: rgba(251, 251, 251, 0.7);
    @include tablets {
        width: 350px;
        height: 370px;
        margin: 50px auto;
    }
    @include phones {
        width: 100%;
    }
}
h3.about_contact-text{
    @include Roboto-Medium();
	font-size: 35px;
    color: #474b57;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3.about_contact-text:after{
    content: "";
    width: 90px;
    height: 3px;
    background: #474b57;
    margin-top: 30px;
}
ul.about_contact-items{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: center;
    min-height: 200px;
    align-items: center;
    @include tablets {
        margin: 15px 0;
    }
}
li.about_contact-item{
    width: 260px;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include tablets {
        width: 100%;
        margin-left: 15px;
    }
}
.about_contact-icon_skype{
    fill: #1056d1;
}
p.about_contact-item_skype{
    @include Roboto-Medium();
	font-size: 16px;
    color: #474b57;
    margin-left: 10px;
}
